<p>
  <mat-toolbar color="primary">
   <a routerLink="/" mat-icon-button class="book" aria-label="book-icon">
    <mat-icon>menu_book</mat-icon>
  </a>
  <span>Educatree</span>
  <span class="example-spacer"></span>

  <a *ngIf="!isLoggedIn" routerLink="/login"  mat-flat-button class="nav-login" color="primary" aria-label="nav-login-button">Login</a>
 <a *ngIf="!isLoggedIn" routerLink="/signup" mat-flat-button class="nav-register" color="primary" aria-label="nav-register-button">Signup</a>

 <a  *ngIf="!isLoggedIn" href="https://github.com/rahul87911" target="_blank" color="primary" mat-fab extended class="github ml10" aria-label="mygithub">
  <mat-icon svgIcon="github"></mat-icon>
  Github
 </a>
 <button  *ngIf="isLoggedIn && user"  mat-button   aria-label="nav-username"> {{user.username}} </button>

 <a (click)="logout()" *ngIf="isLoggedIn"  mat-flat-button class="nav-logout" color="primary" aria-label="nav-register-logout"> Logout </a>
</mat-toolbar>
</p>
