<mat-card class="mt10">
  <h1 class="ml20 mt10">Add Study Materials</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form (ngSubmit)="pdfSubmit()" >
          <mat-form-field class="w100" appearance="fill">
            <mat-label>Enter Title</mat-label>
            <input [(ngModel)]="pdf.title" type="text" name="title" placeholder="Enter here" matInput />
          </mat-form-field>

           <mat-form-field class="w100" appearance="fill">
            <mat-label>Enter URL</mat-label>
            <input [(ngModel)]="pdf.url" type="text" name="title" placeholder="Enter here" matInput />
          </mat-form-field>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="w100 " appearance="fill">
                <mat-label>Faculty</mat-label>
                <input [(ngModel)]="pdf.faculty" type="text" name="faculty" placeholder="Enter here" matInput />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w100" appearance="fill">
                <mat-label>Date</mat-label>
                <input [(ngModel)]="pdf.date" type="date" name="date" placeholder="Enter Today's Date" matInput />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="w100 " appearance="fill">
                <mat-label>Subject</mat-label>
                <input [(ngModel)]="pdf.subject" type="text" name="subject" placeholder="Enter Here" matInput />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w100" appearance="fill">
                <mat-label>Topic</mat-label>
                <input [(ngModel)]="pdf.topic" type="text" name="topic" placeholder="Enter Here" matInput />
              </mat-form-field>
            </div>
          </div>



          <div class="mt10 mb10 text-center">
            <button mat-raised-button color="primary" >Add</button>
            <button type="reset" mat-raised-button color="primary" class="ml20">Reset</button>
          </div>


        </form>
      </div>
    </div>
  </div>
  </mat-card>

