<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>

<body>
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Fee Structure</h2>
    </div>

    <div class="row content">
      <div class="col-lg-12">
        <p>
         We provide classes in Online as well as Offline mode, Online Classes are live through our portal and offline classes are provided on our coaching centres.
         Currently we are running our 3 offline branches accross Bihar.Fees of Online and Offline classes may vary, and they are dicussed below.
        </p>
      </div>

    </div>
  </div>
</section>

<section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Offline Classes Pricing</h2>
     </div>

    <div class="row">

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="box">
          <h3>Bundle Plan</h3>
          <h4><sup>₹</sup>6000<span>per year</span></h4>
          <ul>
            <li><i class="bi bi-check"></i>Classes of MATHS, PHYSICS, CHEMISTRY & ENGLISH.</li>
            <li><i class="bi bi-check"></i>Full coverage of class 11<sup>th</sup> syllabus.</li>
            <li><i class="bi bi-check"></i>Access to coaching premise and facilities.</li>
          </ul>
          <a href="#" class="buy-btn" style="margin-top: 40px;">Get Started</a>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
        <div class="box featured">
          <h3>Budget Plan</h3>
          <h4><sup>₹</sup>11000<span>for 2 years</span></h4>
          <ul>
            <li><i class="bi bi-check-all"></i> Classes of MATHS, PHYSICS, CHEMISTRY & ENGLISH.</li>
            <li><i class="bi bi-check-all"></i>Full coverage of class 11<sup>th</sup> & 12<sup>th</sup> syllabus.</li>
            <li><i class="bi bi-check-all"></i>Access to coaching premise and facilities.</li>
          </ul>
          <a href="#" class="buy-btn" style="margin-top: 40px;">Get Started</a>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
        <div class="box">
          <h3>Competitive Batch Plan</h3>
          <h4><sup>₹</sup>3000<span>per year</span></h4>
          <ul>
            <li><i class="bi bi-check-all"></i>Seperate batch of Competitive English Class</li>
            <li><i class="bi bi-check-all"></i>Daily Mock Tests</li>
            <li><i class="bi bi-check-all"></i> Vocabulary Sessions</li>
            <li><i class="bi bi-check-all"></i> Written English Practice</li>
            <li><i class="bi bi-check-all"></i> Extempore Classes</li>
          </ul>
          <a href="#" class="buy-btn">Get Started</a>
        </div>
      </div>

    </div>

  </div>
</section>

<section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Online Services Pricing</h2>
    </div>

    <div class="row">

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="box">
          <h3>Free Plan</h3>
          <h4><sup>₹</sup>0<span>per month</span></h4>
          <ul>
            <li><i class="bi bi-check"></i>You can mail us, and ask any doubt.</li>
            <li><i class="bi bi-check"></i>Access to our Free Youtube Content</li>
          </ul>
          <a href="#" class="buy-btn-2">Get Started</a>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
        <div class="box featured">
          <h3>Basic Plan</h3>
          <h4><sup>₹</sup>1500<span>per year</span></h4>
          <ul>
            <li><i class="bi bi-check-all"></i> Ask Doubts Anytime</li>
            <li><i class="bi bi-check-all"></i>Access to our Free Youtube Content</li>
            <li><i class="bi bi-check-all"></i>Access to our Mock Tests</li>
            <li><i class="bi bi-check-all"></i> Access to our Study Materials</li>
          </ul>
          <a href="#" class="buy-btn-3">Get Started</a>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
        <div class="box">
          <h3>Premium Plan</h3>
          <h4><sup>₹</sup>2800<span>per year</span></h4>
          <ul>
            <li><i class="bi bi-check-all"></i> Ask Doubts Anytime</li>
            <li><i class="bi bi-check-all"></i>Access to our Free Youtube Content</li>
            <li><i class="bi bi-check-all"></i> Access to our Live Class Sessions</li>
            <li><i class="bi bi-check-all"></i> Access to our Mock Tests</li>
            <li><i class="bi bi-check-all"></i> Access to our Recorded Lecture Videos</li>
            <li><i class="bi bi-check-all"></i> Access to our Study Materials</li>
          </ul>
          <a href="#" class="buy-btn">Get Started</a>
        </div>
      </div>

    </div>

  </div>
</section>


<footer id="footer">


  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Educatree Classes</h3>
          <p>
            Gultera Baazar, Bihta, Patna <br>
            Bihar, 801103<br>
            India <br><br>
            <strong>Phone:</strong>+91 9473338882, <br> +91 9631080753<br>
            <strong>Email:</strong> educatree@gmail.com<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/fee-structure">Fee Structure</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/login">Login</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Social Networks</h4>
          <p>Follow Us on Various Platforms</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="youtube"><i class="bi bi-youtube"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Educatree</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed & Created by <a href="https://rahul8709-portfolio.netlify.app/" target="blank">Rahul Mishra</a>
      <div class="social-links mt-3">
        <a href="https://twitter.com/rahul870911" target="blank" class="twitter mr10"><i class="bi bi-twitter"></i></a>
        <a href="mailto:rahulmishra05071999@gmail.com" class="bi-envelope-fill mr10"><i class="bi bi-envelope-at-fill"></i></a>
        <a href="https://www.instagram.com/rahul870911/?igshid=NmQ2ZmYxZjA%3D" target="blank" class="instagram mr10"><i class="bi bi-instagram"></i></a>
        <a href="https://www.youtube.com/@fitnationindia7410" target="blank" class="youtube mr10"><i class="bi bi-youtube"></i></a>
        <a href="https://www.linkedin.com/in/rahul-mishra-b1176b25b/" target="blank" class="linkedin mr10"><i class="bi bi-linkedin"></i></a>
        <a href="https://github.com/rahul87911" target="blank" class="github mr10"><i class="bi bi-github"></i></a>
        <a href="https://rahul8709-portfolio.netlify.app/" target="blank"><i class="bi bi-globe2"></i></a>
      </div>
    </div>
  </div>
</footer>
</body>
