<head><link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet"></head>
<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3">

        <mat-card>
          <mat-card-content>
        <div class="container text-center">
          <img src="../../../assets/logo.png" alt="logo">
        </div>
        <h1 class="text-center">Register Here !!</h1>

        <!-- {{user | json}} -->

        <form (ngSubmit)="formSubmit()">
             <!-- username -->
             <mat-form-field class="full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input required
              [(ngModel)]="user.username"
              name="username"
              matInput placeholder="Enter Here">
              <mat-hint>*Username must be unique*</mat-hint>
            </mat-form-field>
            <!-- password -->
             <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input required type="password"
              [(ngModel)]="user.password"
              name="password"
              matInput placeholder="Enter Here">
            </mat-form-field>
            <!-- firstname -->
             <mat-form-field class="full-width" appearance="outline">
              <mat-label>First Name</mat-label>
              <input required
              [(ngModel)]="user.firstName"
              name="firstName"
              matInput placeholder="Enter Here">
            </mat-form-field>
            <!-- lastname -->
             <mat-form-field class="full-width" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input required
              [(ngModel)]="user.lastName"
              name="lastName"
              matInput placeholder="Enter Here">
            </mat-form-field>
            <!-- email -->
             <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email Address</mat-label>
              <input required type="email"
              [(ngModel)]="user.email"
              name="email"
              matInput placeholder="Enter Here">
            </mat-form-field>
            <!-- phone -->
             <mat-form-field class="full-width" appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input required type="number" ng-maxlength="10"
              [(ngModel)]="user.phone"
              name="phone"
              matInput placeholder="Enter Here">
            </mat-form-field>
            <!-- buttons -->
            <div class="container text-center">
              <button type="submit"  mat-raised-button color="primary">Register</button>
              <button class="ml10" type="reset"  mat-raised-button color="accent">Reset</button>
            </div>
        </form>
        </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
