<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>

<body>
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
           We started our contribution towards the education of the Young India, since 2018, by means of offline coaching centres.
          </p>
          <ul>
            <li><i class="bi bi-check-all"></i> We have experienced faculties in the stream of <span class="emph">English, Maths, Physics & Chemistry</span></li>
            <li><i class="bi bi-check-all"></i> We don't make fake promises, we give results in <span class="emph">JEE, NDA, CDS, CGL</span> & different competitive exams.</li>
            <li><i class="bi bi-check-all"></i> We provide modern facilities to our students, with 24 x 7 assistence for doubt queries.</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
             After being satisfied with the results of <span class="emph">50k+ students</span> we decided to reach more students worldwide and assist them in every possible way.
             By means of this website we provide different services to students like <span class="emph">Mock Tests, Recorded Lectures, Live Classes, Study Materials, etc,</span>
             all at very affordable price.
             We try to bring not only quality education to the students, but also educate them about the good behaviours and morals which lead them towards a beautiful and valuable
             life. We are under this profession to shape our country's future.
          </p>
        </div>
      </div>
    </div>
  </section><!-- End About Us Section -->

  <section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content">
             <h3>
            <strong>Our Institute</strong>
            </h3>
            <p>
              Our Institute is located at <span class="emph">Bihta,Patna</span>, it is a fully furnished property with seperate classes and waiting area for students. We have taken care of every need of student and tried to provide the best we can.
            </p>
            <h4> <span class="emph mb10">Our Facilities</span></h4>
          <ul>
            <li>Spacious and seperate classes for <span class="emph">English, Maths, Physics & Chemistry</span></li>
            <li><span class="emph">AC Classroms & Wifi</span> are available.</li>
            <li>Seperate waiting area for students.</li>
            <li><span class="emph">24*7</span> CCTV surveilance.</li>
            <li><span class="emph">Parking Area</span>for vehicles.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 align-items-stretch order-1 order-lg-2 img" style='background-image: url("../../../assets/class\ \(1\).png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      <div class="col-lg-3 align-items-stretch order-1 order-lg-2 img" style='background-image: url("../../../assets/class2.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
    </div>
  </div>
</section>


<section id="skills" class="skills mt20">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
        <img src="../../../assets/team-up (1).jpg" class="img-fluid" alt="skills">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
        <h3>Our Team</h3>
        <p class="fst-italic">
           We are a team of professional team of professionals who always give their 200% to excel and brighten the future of students.
        </p>
      </div>
    </div>
  </div>
</section>



<section id="skills" class="skills mt20">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-right" data-aos-delay="100">
        <h3>English Faculty</h3>
        <h4>Mr. Nitesh Karan</h4>
        <p class="fst-italic">
          He is Masters Degree holder from Patna University, and glorifying future of students for more than 10 years.
         <br> He thinks <span class="emph">"English is nothing but all about seance".</span>
        </p>
      </div>
      <div class="col-lg-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">
        <img src="../../../assets/nitesh-sir.jpg" class="img-fluid" style="height: 300px;" alt="skills">
      </div>
    </div>
  </div>
</section>

<section id="skills" class="skills mt20">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
        <img src="../../../assets/amit.jpg" class="img-fluid" style="height: 300px;" alt="skills">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
        <h3>Chemistry Faculty</h3>
        <h4>Mr. Amit Kumar</h4>
        <p class="fst-italic">
           He is an Engineer from XYZ University, and helping students in understanding depconcepts of Chemistry [Organic+Inorganic+Physical] for more than 9 years.
           <br>He says <span class="emph">"Carbon is black, but without carbon our lives are also black".</span>
        </p>
      </div>
    </div>
  </div>
</section>


<section id="skills" class="skills mt20">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-right" data-aos-delay="100">
        <h3>Maths Faculty</h3>
        <h4>Mr. Aman Kumar</h4>
        <p class="fst-italic">
          He is a Btech Graduate from Aryabhatta Knowledge University, and familiarising his students with depth of Mathematics for more than 8 years.
         <br> He thinks <span class="emph">"Formulas are for fools, Mathematics demands mentalwork".</span>
        </p>
      </div>
      <div class="col-lg-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">
        <img src="../../../assets/aman-sir.jpg" class="img-fluid" style="height: 300px;" alt="skills">
      </div>
    </div>
  </div>
</section>


<section id="skills" class="skills mt20">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
        <img src="../../../assets/mushir.jpg" class="img-fluid" style="height: 300px;" alt="skills">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
        <h3>Physics Faculty</h3>
        <h4>Mushir Uddin Sir</h4>
        <p class="fst-italic">
           He is Btech Graduate from XYZ University, and letting his sound clear the concepts of sound of students for more than 9 years.
         <br>  He says <span class="emph">"Physics is the only way towards future".</span>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="skills" class="skills mt20">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-right" data-aos-delay="100">
        <h3>Developer </h3>
        <h4>Rahul Mishra</h4>
        <p class="fst-italic">
          He is a Btech Graduate from Aryabhatta Knowledge University,and knows all depth of web development.He knows how to fluorish a business in this era of technology.

        </p>
      </div>
      <div class="col-lg-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">
        <img src="../../../assets/PXL_20220306_200410734.jpg" class="img-fluid" style="height: 300px;" alt="skills">
      </div>
    </div>
  </div>
</section>

<section id="skills" class="skills mt20">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Our Results</h2>
    </div>


    <div class="row">
      <div class="col-lg-8 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
        <img src="../../../assets/Snapinsta.app_1080_269635486_929407391024167_4499192367189209937_n (1).jpg" class="img-fluid" alt="skills">
      </div>
      <div class="col-lg-4 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
        <p class="fst-italic">
           In this glorious journey of 5 years we gave more results in different fields, like <span class="emph">JEE,NDA,CDS,CGL,CHSL,MTS,etc.</span>
           We have more than 28k alumni from our institute who are successfull in different domains.
        </p>
      </div>
    </div>
  </div>
</section>


<footer id="footer">


  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Educatree Classes</h3>
          <p>
            Gultera Baazar, Bihta, Patna <br>
            Bihar, 801103<br>
            India <br><br>
            <strong>Phone:</strong>+91 9473338882, <br> +91 9631080753<br>
            <strong>Email:</strong> educatree@gmail.com<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/fee-structure">Fee Structure</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/login">Login</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Social Networks</h4>
          <p>Follow Us on Various Platforms</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="youtube"><i class="bi bi-youtube"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Educatree</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed & Created by <a href="https://rahul8709-portfolio.netlify.app/" target="blank">Rahul Mishra</a>
      <div class="social-links mt-3">
        <a href="https://twitter.com/rahul870911" target="blank" class="twitter mr10"><i class="bi bi-twitter"></i></a>
        <a href="mailto:rahulmishra05071999@gmail.com" class="bi-envelope-fill mr10"><i class="bi bi-envelope-at-fill"></i></a>
        <a href="https://www.instagram.com/rahul870911/?igshid=NmQ2ZmYxZjA%3D" target="blank" class="instagram mr10"><i class="bi bi-instagram"></i></a>
        <a href="https://www.youtube.com/@fitnationindia7410" target="blank" class="youtube mr10"><i class="bi bi-youtube"></i></a>
        <a href="https://www.linkedin.com/in/rahul-mishra-b1176b25b/" target="blank" class="linkedin mr10"><i class="bi bi-linkedin"></i></a>
        <a href="https://github.com/rahul87911" target="blank" class="github mr10"><i class="bi bi-github"></i></a>
        <a href="https://rahul8709-portfolio.netlify.app/" target="blank"><i class="bi bi-globe2"></i></a>
      </div>
    </div>
  </div>
</footer><!-- End Footer -->


</body>
