<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card>
          <mat-card-header>
           <h1>Read the instructions carefully</h1>
          <mat-divider></mat-divider>
          </mat-card-header>
          <mat-card-content class="mt10">
          <h1><b>{{quiz.title}}</b></h1>
          <p>{{quiz.description}}</p>
          <mat-divider></mat-divider>
          <h1 class="mt10">Important Instructions</h1>
           <ul>
            <li>This quiz is only for practice purpose.</li>
            <li>Test can be taken on devices such as Laptop/ Smart-Phone/ Tablet/ Desktop. <b> Charge the Laptop / Smart Phone / Tablet well in advance to last for at least 2 hours.</b> </li>
            <li>The device should have continuous internet connectivity. Do not share the phone's hotspot with any other device while writing the Mock Test. </li>
            <li>Total duration of the examination is <b>{{quiz.numberOfQuestions*2}} minutes</b>, submit before the mentioned time. </li>
            <li>Mock / dry run examination is mandatory. It is intended to familiarize the students to the examination environment and validate the compatibility of their Desktop/Laptop/Smart-Phone/Tablet or other devices. If a student encounters any technical issue, he/she can contact the help desk number(s) as notified here. </li>
            <li>Do NOT take photos, screen shots, hear audio, or record videos of the examination and then share it with others during the online examination, a remote proctor would watch such unwanted activities. If found doing such activities, it will be treated as malpractice.</li>
            <li>Each question contains <b>{{quiz.maxMarks/quiz.numberOfQuestions}} Marks</b>.</li>
            <li>All questions are of MCQ types.</li>
            <li *ngIf="!quiz.attempts">You can attempt this test <b>any</b> number of times.</li>
            <li *ngIf="quiz.attempts">You can attempt this test for <b>{{quiz.attempts}}</b> times.</li>
          </ul>
          <mat-divider></mat-divider>

          <h1>Attempting Quiz</h1>
          <ul>
            <li>Click <b>Start Test</b> button to start the test.</li>
            <li>Once you start test , you cant <b>refresh, back</b> the page.</li>
            <li><b>Right Click</b> will be restricted during the test.</li>
            <li>If you open a <b>New Tab</b>, or by any means you leave the current tab, test will be automatically submitted.</li>
            <li>The time will start the moment you click the <b>Start Test</b> button.</li>
            <li>Test will get automatically submitted on completion of time.</li>
            <li>You cannot resume this quiz , if interrupted due to any reason.</li>
            <li>Scroll Down to move to next question.</li>
            <li>Click on <b>Clear Response</b> to clear your answer.</li>
            <li>Click on <b>Mark for Review</b> button to mark it for reviewing it later.</li>
            <li>The marked question will be treated as unattempted , if left empty.</li>
            <li>Report of the test is automatically generated in the form of PDF copy.</li>
          </ul>
          <mat-divider></mat-divider>

          <h1>Marking</h1>
         <div *ngIf="quiz.markingScheme==false">

          <h3><b>Marking Scheme : Negative Marking</b></h3>
          <h4>Details:</h4>
          <ul>
            <li><b>{{quiz.maxMarks/quiz.numberOfQuestions}}</b> marks are awarded for every correct answer</li>
            <li><b>{{quiz.maxMarks/quiz.numberOfQuestions}}</b> marks are deducted for every wrong answer</li>
            <li><b>{{roundOff()}}</b> marks are deducted as penalty from the total score of the candidate for every wrong answer</li>
          </ul>
         </div>

         <div *ngIf="quiz.markingScheme==true">
          <h3><b>Marking Scheme : Positive Marking</b></h3>
         <h4>Details:</h4>
         <ul>
           <li><b>{{quiz.maxMarks/quiz.numberOfQuestions}}</b> marks are awarded for every correct answer</li>
           <li><b>{{quiz.maxMarks/quiz.numberOfQuestions}}</b> marks are deducted from the total score of the candidate for every wrong answer</li>
         </ul>
        </div>
        <mat-divider></mat-divider>
        <h3><b>Minimum Passing Percentage: {{quiz.passMarks}}</b></h3>
        <h3><b>Time Alloted: {{quiz.timeCons*quiz.numberOfQuestions/60}} minutes </b></h3>
        <mat-divider></mat-divider>
          </mat-card-content>
          <mat-card-actions  class="btn">
            <button (click)="startQuiz()" mat-raised-button color="primary">Start Test</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>

