<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <mat-card>
          <mat-card-header> <h1> Test Id: {{qId}} </h1> </mat-card-header>
          <mat-divider></mat-divider>
          <div class="ml17 mt10">
          <h3><b>Title: {{quizzes.title}}</b></h3>
          <p>{{quizzes.description}}</p>
          <mat-divider></mat-divider>
          <h4>Category: {{quizzes.category.title}}</h4>
          <h4>Category Id: {{quizzes.category.cid}}</h4>
          <p>Description: {{quizzes.category.description}}</p>
          <mat-divider></mat-divider>
          <h3><b>Number of Questions: {{quizzes.numberOfQuestions}} </b></h3>
          <h3><b>Maximum Marks: {{quizzes.maxMarks}} </b></h3>
          <h3><b>Minimum Passing Percentage: {{quizzes.passMarks}}</b></h3>
          <h3 *ngIf="quizzes.attempts"><b>Maximum Attempts: {{quizzes.attempts}}</b></h3>

          <mat-divider></mat-divider>
          <!-- negative marking details -->
           <div *ngIf="quizzes.markingScheme==false">
               <h3><b>Marking Scheme : Negative Marking</b></h3>
              <h4>Details:</h4>
              <ul>
                <li><b>{{quizzes.maxMarks/quizzes.numberOfQuestions}}</b> marks are awarded for every correct answer</li>
                <li><b>{{quizzes.maxMarks/quizzes.numberOfQuestions}}</b> marks are deducted for every wrong answer</li>
                <li><b>{{roundOff()}}</b> marks are deducted as penalty from the total score of the candidate for every wrong answer</li>
              </ul>
           </div>

           <!-- positve marking details -->
           <div *ngIf="quizzes.markingScheme==true">
               <h3><b>Marking Scheme : Positive Marking</b></h3>
              <h4>Details:</h4>
              <ul>
                <li><b>{{quizzes.maxMarks/quizzes.numberOfQuestions}}</b> marks are awarded for every correct answer</li>
                <li><b>{{quizzes.maxMarks/quizzes.numberOfQuestions}}</b> marks are deducted from the total score of the candidate for every wrong answer</li>
              </ul>
           </div>
           <h3><b>Time Alloted: {{quizzes.timeCons*quizzes.numberOfQuestions/60}} minutes </b></h3>
          </div>
          <mat-divider></mat-divider>

          <mat-card-actions  class="btn">
            <button (click)="startQuiz()" mat-raised-button color="primary">Start Test</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>



