<mat-card class="mt10" >
    <h1 class="ml20 mt10">Add Announcement</h1>
    <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
  
        <form>
          <!-- title -->
        <mat-form-field class="w100" appearance="fill">
          <mat-label>Enter Title</mat-label>
          <input  type="text" name="title" placeholder="Enter here" matInput />
        </mat-form-field>
          <!-- description -->
          <mat-form-field class="w100" appearance="fill">
            <mat-label>Enter Description</mat-label>
            <textarea   type="text" name="description" placeholder="Enter here" matInput rows="15" ></textarea>
          </mat-form-field>
  
          <div class="row">
            <div class="col-md-6">
              <!-- maxmarks -->
              <mat-form-field class="w100" appearance="fill">
                <mat-label>Date</mat-label>
                <input   type="date" name="date" placeholder="Enter here" matInput />
              </mat-form-field>
            </div>

          <div class="col-md-6">
<div class="row">
<div class="col-md-4">
  <mat-slide-toggle name="active"  class="mt10 mb20">
    Publish
  </mat-slide-toggle>
  
</div>

<div class="col-md-4 mt10 mb10 text-center">
<button mat-raised-button color="primary">Add</button>
</div>

<div class="col-md-4 mt10 mb10 text-center">
  <button type="reset" mat-raised-button color="primary">Reset</button>
  </div>

</div>

          </div>





           
<!--
            <div class="col-md-3">
               status-active 
           -->                     
         
           </div>
              <!-- <mat-divider></mat-divider>           -->
        </form>
      </div>
    </div>
    </div>
  </mat-card>
  
  
  
  
