.w100{
  width: 100%;
  }

  .ml40{
    margin-left: 40px;
  }
  .ml115{
    margin-left: 115px;
  }

  .w100{
    width: 100%;
    }

    .ml40{
      margin-left: 40px;
    }
    .ml115{
      margin-left: 115px;
    }


    .mr55{
      margin-right: 55px;
    }

    .w50{
      width: 48%;
    }

    .ml28{
      margin-left: 28px;
    }

    .ml50{
      margin-left: 60px;
    }

    .ml35{
      margin-left: 35px;
    }
