<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <h1 class="ml20 mt10">Available Video Courses</h1>





    <div class="row">




      <div class="col-md-4.5" *ngFor="let c of courses" >

        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{c.courseTitle}}</mat-card-title>
            <mat-card-subtitle>{{c.subject}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p class="truncate">
           <b>Duration: {{c.duration}} hrs   </b>        <span class="ml140"><b>Lectures: {{c.noOfLectures}} </b> </span>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary"  [routerLink]="'/user-dashboard/video-courses/'+c.cId">View</button>
            <button mat-button color="primary" >{{c.faculty}}</button>
            <button mat-button color="accent">Price:{{c.price}}</button>
            <button mat-button color="accent"class='ml10'>Validity: {{c.validity}} days</button>
          </mat-card-actions>
        </mat-card>
      </div>


    </div>







  </div>
</div>


