<mat-card class="mt10">
  <h1 class="ml20 mt10">Add Video URL</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form (ngSubmit)="dataSubmit()">
          <mat-form-field  class="w100" appearance="fill">
            <mat-label>Enter Title</mat-label>
            <input [(ngModel)]="Url.title" type="text" name="title" placeholder="Enter here" matInput />
          </mat-form-field>

           <mat-form-field class="w100" appearance="fill">
            <mat-label>Enter URL</mat-label>
            <input  [(ngModel)]="Url.url" type="text" name="url" placeholder="Enter here" matInput />
          </mat-form-field>

          <div class="mt10 mb10 text-center">
            <button mat-raised-button color="primary" >Add</button>
            <button type="reset" mat-raised-button color="primary" class="ml20">Reset</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  </mat-card>

{{Url | json}}
